<h1>New Recipe</h1>

<%= form_with(model: @recipe, url: recipes_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :cooking_time %>
    <%= form.text_field :cooking_time %>
  </div>

  <div class="field">
    <%= form.label :preparation_time %>
    <%= form.text_field :preparation_time %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit "Create Recipe" %>
  </div>
<% end %>
