<div class="flex flex-col items-center mt-14">
  <h1 class="mb-14 font-bold">Add New Food</h1>

  <%= form_with model: @food, url: foods_path, class: ' w-full max-w-sm' do |form| %>
    <div class="mb-4">
      <%= form.label :name, class: 'text-gray-700 font-bold mb-2' %>
      <%= form.text_field :name, class: 'w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300' %>
    </div>

    <div class="mb-4">
      <%= form.label :measurement_unit, class: 'text-gray-700 font-bold mb-2' %>
      <%= form.text_field :measurement_unit, class: 'w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300' %>
    </div>

    <div class="mb-4">
      <%= form.label :price, class: 'text-gray-700 font-bold mb-2' %>
      <%= form.text_field :price, class: 'w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300' %>
    </div>

    <div class="w-full mt-5">
      <%= form.submit 'Add Food', class: 'w-full bg-[#81bab4] py-2 rounded-md text-white shadow-md cursor-pointer' %>
    </div>

    <%= link_to 'Back to Food List', foods_path, class: 'text-gray-600 underline mt-5' %>
  <% end %>
</div>
